.app{
  width: 1200px;
  margin : 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "h h"
  "n c"
  ;
  color : #FFF26F;
}

.content{
  grid-area: c;
  background: black;
}
a {
  color : black;
}